<div class="wrapper">
  <nav>
    <div class="nav-container">
      <div class="nav-logo">
        <img src="assets/logo.png" alt="SmellyCat Logo">
      </div>
      <button class="nav-toggle" aria-label="Toggle navigation" (click)="toggleNavMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="nav-links" #navLinks>
        <li><a href="#">Adopt Kittens</a></li>
        <li><a href="#">Kitty Stories</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
